@page
@model TSEP.App.Pages.Sælger.IndexModel
@{
}

<section>

    <h1>Sælger</h1>


    <section class="container w-50 border border-2">

        <section class="row">
            <h3 class="text-center">
                Igangsættelse 1
            </h3>
        </section>
        <section class="row">
            <section class="col-sm">
                <span class="text-center">
                    Tek Opg
                </span>
                <section class="border border-2">
                    <p>Kompetancer</p>
                    <ul>
                        <li>K1</li>
                        <li>K2</li>
                        <li>K3</li>
                    </ul>
                    <p>Varighed</p>
                    <ul>
                        <li>2 dage</li>
                    </ul>
                    <p>Status</p>
                    <ul>
                        <li>Igang</li>
                    </ul>
                    <p>Kommentarer</p>
                    <ul>
                        <li>...</li>
                    </ul>
                </section>
            </section>
            <section class="col-sm">
                <span class="text-center">
                    Konvert Opg
                </span>
                <section class="border border-2">
                    <p>Kompetancer</p>
                    <ul>
                        <li>K1</li>
                        <li>K2</li>
                        <li>K3</li>
                    </ul>
                    <p>Varighed</p>
                    <ul>
                        <li>2 dage</li>
                    </ul>
                    <p>Status</p>
                    <ul>
                        <li>Igang</li>
                    </ul>
                    <p>Kommentarer</p>
                    <ul>
                        <li>...</li>
                    </ul>
                </section>
            </section>
            <section class="col-sm">
                <span class="text-center">
                    Konsul opg
                </span>
                <section class="border border-2">
                    <p>Kompetancer</p>
                    <ul>
                        <li>USD - Ansat 1</li>
                        <li>SQL - Ansat 2</li>
                    </ul>
                    <p>Varighed</p>
                    <ul>
                        <li>2 dage</li>
                    </ul>
                    <p>Status</p>
                    <ul>
                        <li>Igang</li>
                    </ul>
                    <p>Kommentarer</p>
                    <ul>
                        <li>...</li>
                    </ul>
                </section>
            </section>
        </section>

    </section>

</section>