@page
@model TredjeSemesterEksammensProjekt.Pages.Sælger.IndexModel
@{
}

<section>

    <h1>Sælger</h1>


    <section class="container w-50 border border-2">

        <section class="row">
            <h3 class="text-center">
                Igangsættelse 1
            </h3>
        </section>
        <section class="row">
            <section class="col-sm">
                <span class="text-center">
                    Tek Opg
                </span>
                <section class="border border-2">
                    Kompetancer
                </section>
            </section>
            <section class="col-sm">
                <span class="text-center">
                    Konvert Opg
                </span>
                <section class="border border-2">
                    Kompetancer
                </section>
            </section>
            <section class="col-sm">
                <span class="text-center">
                    Konsul opg
                </span>
                <section class="border border-2">
                    Kompetancer
                </section>
            </section>
        </section>

    </section>

</section>