@page
@model TSEP.App.Pages.Projekt.CreateModel
@{
}
<section>

    <h1>Opret Projekt</h1>

    <section class="w-25">

        <form class="form-floating" method="post">
            <section class="form-group">
                <label asp-for="Input.ProjektName"></label>
                <input asp-for="Input.ProjektName" class="form-control" autocomplete="new-description" aria-required="true" />
                <span asp-validation-for="Input.ProjektName" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.StartDate"></label>
                <input asp-for="Input.StartDate" class="form-control" autocomplete="new-description" aria-required="true" />
                <span asp-validation-for="Input.StartDate" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.EndDate"></label>
                <input asp-for="Input.EndDate" class="form-control" autocomplete="new-description" aria-required="true" />
                <span asp-validation-for="Input.EndDate" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.EstimatedTime"></label>
                <input asp-for="Input.EstimatedTime" class="form-control" autocomplete="new-description" aria-required="true" />
                <span asp-validation-for="Input.EstimatedTime" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.ActualEstimated"></label>
                <input asp-for="Input.ActualEstimated" class="form-control" autocomplete="new-description" aria-required="true" />
                <span asp-validation-for="Input.ActualEstimated" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.KundeUserId"></label>
                <input asp-for="Input.KundeUserId" class="form-control" autocomplete="new-description" aria-required="true" />
                <span asp-validation-for="Input.KundeUserId" class="text-danger"></span>
            </section>
            <br />
            <section class="form-group">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Tilføj</button>
            </section>
        </form>
    </section>
</section>
