@page
@model TSEP.App.Pages.Projekt.EditModel
@{
}
<section>

    <h1>Opret Projekt</h1>

    <section class="w-25">

        <form class="form-floating" method="post">
            <input type="hidden" asp-for="Input.Id"/>
            <input type="hidden" asp-for="Input.RowVersion"/>

            <section class="form-group">
                <label asp-for="Input.ProjektName"></label>
                <input asp-for="Input.ProjektName" class="form-control" autocomplete="new-description" aria-required="true"/>
                <span asp-validation-for="Input.ProjektName" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.StartDate"></label>
                <input asp-for="Input.StartDate" class="form-control" autocomplete="new-description" aria-required="true"/>
                <span asp-validation-for="Input.StartDate" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Input.KundeUserId"></label>
                <input asp-for="Input.KundeUserId" class="form-control" autocomplete="new-description" aria-required="true"/>
                <span asp-validation-for="Input.KundeUserId" class="text-danger"></span>
            </section>
            
            <h3>Vælg start tidspunkt på næste opgave</h3>
            <section class="form-group">
                <input asp-for="nextOpgaveStartTime" class="form-control"/>
            </section>
            <br/>

            <section class="form-group">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Commit Ændringer og tilføj Opgave</button>
            </section>
            
            @foreach (var opgave in Model.OpgaveIndexes)
            {
                <section>
                    
                    <h2>@opgave.OpgaveTypeName</h2>

                </section>
            }

        </form>
    </section>
</section>