@page
@model TSEP.App.Pages.Kalender.IndexModel
@{
}

<section>

    <h1>Kalender</h1>

    <table class="table table-striped w-50">

        @foreach (var booking in Model.BookingIndexList)
        {
            <tr>
                <td>@booking.AnsatNavn</td>
                <td>@booking.StartDate</td>
                <td>@booking.EndDate</td>
            </tr>
        }

    </table>


</section>