@page
@model TSEP.App.Pages.Kalender.IndexModel
@{
}

<section>

    <h1>Kalender</h1>

    <table class="table ">

        <tr>

            <th>Dato</th>
            <th>Tekniker ID'er</th>
            <th>Konverter ID'er</th>
            <th>Konsulent ID'er</th>

        </tr>
        <tr>

            <td>11/12</td>
            <td>
                <p>Tekniker 1  - Igangsættelse 1</p>
                <p>Tekniker 12 - Igangsættelse 2</p>
                <p>Tekniker 13 - Igangsættelse 3</p>
            </td>
            <td>Konverter 1</td>
            <td>Konsulent 1</td>

        </tr>

    </table>


</section>