@page
@model TSEP.App.Pages.OpgaveType.IndexModel
@{
}



<section>
    
    <h2>Opgave Typer</h2>
    
    <section class="">
        
        <ul class="navbar-nav flex-grow-1 nav nav-pills">
            <li class="nav-item">
                <a class="btn btn-lg btn-primary" asp-area="" asp-page="/OpgaveType/Create">Ny Opgave Type</a>
            </li>
        </ul>

    </section>

</section>