@page
@model TSEP.App.Pages.Booking.CreateModel
@{
}

<section>

	<h2>Vælg opgavetype til projekts opgave</h2>

    <form class="form-floating w-25" method="post">
        
        <input type="hidden" asp-for="BookingModel.ProjektId"/>
        <select asp-for="BookingModel.OpgaveTypeId" asp-items="Model.OpgaveTypeSelect" class="form-control"></select>
        <input asp-for="BookingModel.StartTid" class="form-control"/>

        <input class="w-100 btn btn-lg btn-primary" type="submit" />

    </form>

</section>