@page
@model TSEP.App.Pages.Kunde.IndexModel
@{
}
<script src="lib/jquery/dist/jquery.js"></script>

<section class="container">
    
    <section class="row my-3">
    <h1>@Model.User.Identity.Name</h1>
    </section>
    

    <table class="table table-striped">
        <thead>

                <tr>
                    <th class="col-3">Projekt</th>
                    <th>Start dato</th>
                    <th>Slut dato</th>
                </tr>

            </thead>
        @foreach (var projekt in Model.IndexViewModels)
        {
            <tr>
                <td>
                        <span>@projekt.ProjektNavn</span>
                 </td>
                 <td>
                    <span>@projekt.StartDate</span>
                 </td>
                 <td>
                        <span>@projekt.EndDate</span>
                </td>

            </tr>

        }
    </table>
</section>