@page
@model TredjeSemesterEksammensProjekt.Pages.Kalender.IndexModel
@{
}

<section>

    <h1>Kalender</h1>

    <table class="table ">

        <tr>

            <th>Dato</th>
            <th>Tekniker ID'er</th>
            <th>Konverter ID'er</th>
            <th>Konsulent ID'er</th>

        </tr>
        <tr>

            <td>Dato 1</td>
            <td>Tekniker 1</td>
            <td>Konverter 1</td>
            <td>Konsulent 1</td>

        </tr>

    </table>


</section>